<!-- <div class="bg-dark" data-bs-theme="dark">
  <div class="bg-body-tertiary">
    <div class="container">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5">
        <div class="col mb-2 align-self-center">
          <p class="text-body-secondary">&copy; 2024 Proyecto.cl</p>
        </div>
        
        <div class="col mb-2">
        </div>
    
        <div class="col mb-2">
          <h5>Section</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
          </ul>
        </div>
      </footer>
      <p class="text-center pb-3 fw-lighter">Desarrollado por carlostoledoe</p>
    </div>
  </div> -->
  <!-- Footer -->
<!--   <footer class="bg-dark mt-auto py-3" data-bs-theme="dark">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center">
        <div class="col-md-4 d-flex align-items-center">
          <span class="text-body-secondary">&copy; Desarrollado por Yoviu_ 2024</span>
        </div>
        
        <ul class="nav col-md-8 justify-content-end list-unstyled d-flex">
          <li class="ms-3"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="ms-3"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
          <li class="ms-3"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
          <li class="ms-3"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
          <li class="ms-3"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body> -->

<footer class="bg-dark text-white py-3 mt-auto">
  <div class="container">
      <div class="row">
          <div class="col-md-6 text-center text-md-start">
              <p class="mb-3 mb-md-0">Desarrollado por Yoviu_ 2025. Todos los derechos reservados.</p>
          </div>
          <div class="col-md-6 text-center text-md-end">
              <ul class="list-inline mb-0">
                  <li class="list-inline-item"><a class="text-white">Términos</a></li>
                  <li class="list-inline-item px-2">·</li>
                  <li class="list-inline-item"><a class="text-white">Privacidad</a></li>
                  <li class="list-inline-item px-2">·</li>
                  <li class="list-inline-item"><a class="text-white">Contacto</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>